@tailwind components;
:root {
    --primary: #ffc431;
    --secondary-1: #ffc224;
    --secondary-2: #1c92ff;
    --secondary-3: #5c42fb;
    --secondary-4: #ff4a60;
    --secondary-5: #81e644;
    --secondary-6: #ee1a24;
    --neutral-100: #ffffff;
    --neutral-200: #faf9f6;
    --neutral-300: #f1f0ee;
    --neutral-400: #9e9d9b;
    --neutral-500: #878787;
    --neutral-600: #5e5e5f;
    --neutral-700: #393939;
    --neutral-750: #141414;
    --neutral-800: #0b0b0b;

    --primaryShades: #ffeec2;
    --secondaryShades-1: #ffeec2;
    --secondaryShades-2: #add8ff;
    --secondaryShades-3: #dcd7fe;
    --secondaryShades-4: #ffb8bf;
    --secondaryShades-5: #dbf8c9;
    --secondaryShades-6: #fcbdaa;

    --sm: 480px; /* A MODIFIER AUSSI DANS TAILWIND CONFIG */
    --md: 768px; /* A MODIFIER AUSSI DANS WithMediaQuery component (components/stories/) */
    --lg: 992px;
    --xl: 1200px;
}

/*! purgecss start ignore */
[data-theme="dark"] {
    --neutral-800: #ffffff;
    --neutral-750: #f5f3f3;
    --neutral-700: #faf9f6;
    --neutral-600: #f1f0ee;
    --neutral-500: #eceae8;
    --neutral-400: #878787;
    --neutral-300: #5e5e5f;
    --neutral-100: #1d1d1d;
    --neutral-200: #0e0e0e;
    --primaryShades: #a37500;
    --secondaryShades-1: #a37500;
    --secondaryShades-2: #004a8f;
    --secondaryShades-3: #1c05b3;
    --secondaryShades-4: #cc0014;
    --secondaryShades-5: #439014;
}
/*! purgecss end ignore */

@import "./normalize.css";
@import "./webflow.css";
@import "./i-dont-speak-french.webflow.css";
@import "./personnal.css";

/* @tailwind base; */
@tailwind utilities;
