.w-layout-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.w-checkbox {
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
}

.w-checkbox::before {
    content: " ";
    display: table;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

.w-checkbox::after {
    content: " ";
    display: table;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    clear: both;
}

.w-checkbox-input {
    float: left;
    margin-bottom: 0px;
    margin-left: -20px;
    margin-right: 0px;
    margin-top: 4px;
    line-height: normal;
}

.w-checkbox-input--inputType-custom {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #ccc;
    border-bottom-color: #ccc;
    border-left-color: #ccc;
    border-right-color: #ccc;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    width: 12px;
    height: 12px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
    background-color: #3898ec;
    border-top-color: #3898ec;
    border-bottom-color: #3898ec;
    border-left-color: #3898ec;
    border-right-color: #3898ec;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    /* font-family: Onest, sans-serif; */
    color: var(--neutral-700);
    font-size: 18px;
    line-height: 1.667em;
    font-weight: 500;
}

h1:not([class]) {
    margin-top: 0px;
    margin-bottom: 16px;
    color: var(--neutral-800);
    font-size: 54px;
    line-height: 1.259em;
    font-weight: 700;
}

h2:not([class]) {
    margin-top: 0px;
    margin-bottom: 16px;
    color: var(--neutral-800);
    font-size: 38px;
    line-height: 1.316em;
    font-weight: 700;
}

h3:not([class]) {
    margin-top: 0px;
    margin-bottom: 8px;
    color: var(--neutral-800);
    font-size: 24px;
    line-height: 1.417em;
    font-weight: 700;
}

h4:not([class]) {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--neutral-800);
    font-size: 22px;
    line-height: 1.273em;
    font-weight: 700;
}

p:not([class]) {
    margin-bottom: 16px;
}

a:not([class]) {
    transition: color 300ms ease;
    color: var(--secondary-2);
    text-decoration: underline;
}

a:not([class]):hover {
    color: var(--neutral-800);
}

ul:not([class]) {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px;
}

ol:not([class]) {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px;
}

li:not([class]) {
    margin-bottom: 8px;
    padding-left: 8px;
}

img:not([data-nimg]) {
    display: inline-block;
    max-width: 100%;
}

label:not([class]) {
    display: block;
    margin-bottom: 16px;
    color: var(--neutral-800);
    font-size: 18px;
    line-height: 1.111em;
    font-weight: 700;
}

/* blockquote {
    margin-top: 14px;
    margin-bottom: 32px;
    padding: 99px 35px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--neutral-800);
    border-radius: 24px;
    background-color: var(--neutral-100);
    box-shadow: 5px 5px 0 2px var(--neutral-800);
    color: var(--neutral-700);
    font-size: 24px;
    line-height: 1.417em;
    font-weight: 700;
    text-align: center;
} */

.page-wrapper {
    background-color: var(--neutral-200);
}

.grid-2-columns {
    display: grid;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.grid-2-columns.form {
    grid-column-gap: 24px;
    grid-row-gap: 32px;
}

.grid-2-columns.title-and-paragraph {
    margin-bottom: 56px;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 0.8fr;
}

.grid-2-columns.title-and-paragraph.v2 {
    grid-template-columns: 1fr 0.9fr;
}

.grid-2-columns.text-right-default {
    grid-column-gap: 72px;
    grid-template-columns: 0.8fr 1fr;
}

.grid-2-columns.text-right-default.v2 {
    grid-column-gap: 40px;
}

.grid-2-columns.blog-left-sidebar {
    align-items: start;
    grid-column-gap: 40px;
    grid-row-gap: 48px;
    grid-template-columns: 0.5fr 1fr;
}

.grid-2-columns.post-rigth-sidebar {
    grid-column-gap: 40px;
    grid-template-columns: 1fr 0.5fr;
}

.card {
    border-style: solid;
    border-width: 3px;
    border-color: var(--neutral-800);
    border-radius: 24px;
    background-color: var(--neutral-100);
    text-decoration: none;
}

.card.form {
    display: flex;
    min-height: 694px;
    margin-bottom: 0px;
    padding: 55px 50px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 7px 7px 0 0 var(--neutral-800);
}

.card.form:hover {
    box-shadow: 7px 7px 0 0 var(--neutral-800);
    transform: none;
}

.card.link-card {
    transition:
        box-shadow 300ms ease,
        transform 300ms ease,
        color 300ms ease;
    color: var(--neutral-700);
    text-decoration: none;
    transform-style: preserve-3d;
}

.card.link-card:hover {
    box-shadow: 10px 10px 0 0 var(--neutral-800);
    transform: translate3d(0px, -10px, 0.01px);
}

.bg-secondary-1 {
    background-color: var(--primary);
}

.bg-secondary-2 {
    background-color: var(--secondary-2);
}

.bg-secondary-3 {
    background-color: var(--secondary-3);
}

.bg-secondary-4 {
    background-color: var(--secondary-4);
}

.bg-neutral-800 {
    background-color: var(--neutral-800);
}

.bg-neutral-200 {
    background-color: var(--neutral-200);
    /* font-family: Onest, sans-serif; */
}

.bg-neutral-100 {
    background-color: var(--neutral-100);
}

.color-neutral-800 {
    color: var(--neutral-800);
}

.color-neutral-600 {
    color: var(--neutral-600);
}

.color-neutral-300 {
    color: var(--neutral-300);
}

.color-neutral-100 {
    color: var(--neutral-100);
}

.mg-bottom-8px {
    margin-bottom: 8px;
}

.mg-bottom-24px {
    margin-bottom: 24px;
}

.mg-bottom-32px {
    margin-bottom: 32px;
}

.mg-bottom-40px {
    margin-bottom: 40px;
}

.mg-bottom-48px {
    margin-bottom: 48px;
}

.mg-bottom-64px {
    margin-bottom: 64px;
}

.display-1 {
    color: var(--neutral-800);
    font-size: 72px;
    line-height: 1.181em;
    font-weight: 700;
}

.display-1.mg-bottom-0 {
    align-self: flex-end;
}

.display-1.color-neutral-100 {
    color: var(--neutral-100);
}

.grid-1-column {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.grid-1-column.full-width {
    width: 100%;
}

.gap-16px {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.display-2 {
    color: var(--neutral-800);
    font-size: 52px;
    line-height: 1.154em;
    font-weight: 700;
}

.display-2.text-center {
    line-height: 1.154em;
}

.display-2.color-neutral-100 {
    color: var(--neutral-100);
}

.display-3 {
    color: var(--neutral-800);
    font-size: 38px;
    line-height: 1.368em;
    font-weight: 700;
}

.display-4 {
    color: var(--neutral-800);
    font-size: 28px;
    line-height: 1.429em;
    font-weight: 700;
}

.display-4.color-neutral-100 {
    color: var(--neutral-100);
}

.text-300 {
    font-size: 22px;
    line-height: 1.1em;
    font-weight: 400;
}

.text-300.medium {
    font-weight: 500;
}

.text-300.medium.color-neutral-600 {
    color: var(--neutral-600);
}

.inner-container.center {
    margin-right: auto;
    margin-left: auto;
}

.mg-bottom-0 {
    margin-bottom: 0px;
}

.btn-primary {
    padding: 26px 38px;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: var(--neutral-800);
    border-radius: 16px;
    background-color: var(--neutral-800);
    transition:
        border-color 300ms ease,
        background-color 300ms ease,
        transform 300ms ease,
        color 300ms ease;
    color: var(--neutral-100);
    font-size: 18px;
    line-height: 1.111em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transform-style: preserve-3d;
}

.btn-primary:hover {
    border-color: var(--secondary-2);
    background-color: var(--secondary-2);
    transform: translate3d(0px, -3px, 0.01px);
    color: var(--neutral-100);
}

.btn-primary.small {
    padding: 18px 24px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 1.125em;
}

.btn-primary.inside-input {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary.inside-input.default {
    top: 8px;
    right: 8px;
    bottom: 8px;
    padding: 16px 24px;
}

.btn-primary.inside-input.variant {
    top: 8px;
    right: 8px;
    bottom: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn-primary.button-row {
    margin-right: 28px;
}

.btn-primary.full-width {
    width: 100%;
}

.btn-secondary {
    padding: 26px 38px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--neutral-800);
    border-radius: 16px;
    background-color: var(--neutral-100);
    transition:
        border-color 300ms ease,
        transform 300ms ease,
        background-color 300ms ease,
        color 300ms ease;
    color: var(--neutral-800);
    font-size: 18px;
    line-height: 1.111em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transform-style: preserve-3d;
}

.btn-secondary:hover {
    border-color: var(--neutral-800);
    background-color: var(--neutral-800);
    transform: translate3d(0px, -3px, 0.01px);
    color: var(--neutral-100);
}

.btn-secondary.small {
    padding: 18px 24px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 1.125em;
}

.btn-secondary.variant {
    border-color: var(--neutral-100);
}

.btn-secondary.variant:hover {
    border-color: var(--secondary-2);
    background-color: var(--secondary-2);
}

.badge-primary {
    display: inline-block;
    padding: 18px 28px;
    border-radius: 14px;
    background-color: var(--neutral-800);
    color: var(--neutral-100);
    font-size: 18px;
    line-height: 1.111em;
    font-weight: 400;
}

.badge-secondary {
    display: inline-block;
    padding: 18px 28px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--neutral-800);
    border-radius: 14px;
    background-color: var(--neutral-100);
    color: var(--neutral-800);
    font-size: 18px;
    line-height: 1.111em;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.badge-secondary.small,
.badge-primary.small {
    padding: 14px 22px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 1.125em;
}

.badge-primary.small.btn-primary,
.badge-secondary.small.btn-primary {
    border-width: 0px;
    font-weight: 700;
}

.input {
    min-height: 72px;
    margin-bottom: 0px;
    padding: 16px 24px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--neutral-800);
    border-radius: 16px;
    background-color: var(--neutral-100);
    transition:
        box-shadow 300ms ease,
        color 300ms ease,
        border-color 300ms ease;
    color: var(--neutral-800);
    font-size: 18px;
    line-height: 1.111em;
    font-weight: 700;
}

.input:hover {
    border-color: var(--neutral-800);
    box-shadow: 5px 5px 0 0 var(--neutral-800);
}

.input:focus {
    border-color: var(--neutral-800);
    box-shadow: 5px 5px 0 0 var(--neutral-800);
    font-weight: 700;
}

.input::-moz-placeholder {
    color: var(--neutral-800);
    font-weight: 500;
}

.input::placeholder {
    color: var(--neutral-800);
    font-weight: 500;
}

.input.small {
    min-height: 68px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    font-size: 16px;
}

.input.small.mg-bottom-8px {
    margin-bottom: 8px;
}

.input.button-inside {
    padding-right: 38%;
}

.input.medium {
    min-height: 56px;
    margin-bottom: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
}

.input.medium::-moz-placeholder {
    font-size: 16px;
    line-height: 18px;
}

.input.medium::placeholder {
    font-size: 16px;
    line-height: 18px;
}

.input.icon-input {
    padding-left: 54px;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
    background-position: 24px 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.position-relative {
    position: relative;
}

.checkbox-field-wrapper {
    display: flex;
    margin-bottom: 24px;
    padding-left: 0px;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
}

.checkbox-field-wrapper.small {
    font-size: 16px;
    line-height: 20px;
}

.checkbox {
    width: auto;
    height: auto;
    min-height: 24px;
    min-width: 24px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 0px;
    border-width: 2px;
    border-color: var(--neutral-800);
    border-radius: 6px;
    background-color: var(--neutral-100);
    transition:
        border-color 300ms ease,
        background-color 300ms ease;
}

.checkbox:hover {
    border-color: var(--neutral-700);
}

.checkbox.w--redirected-checked {
    margin-top: 0px;
    margin-left: 0px;
    border-color: #fff;
    background-color: #000;
    background-image: url("/images/check-form-brix-templates-webflow.svg");
    background-size: auto;
}

.checkbox.small {
    min-height: 22px;
    min-width: 22px;
    border-radius: 5px;
}

.buttons-row {
    display: flex;
    align-items: center;
}

.buttons-row.center {
    justify-content: center;
}

.container-default {
    max-width: 1300px;
    padding-right: 24px;
    padding-left: 24px;
}

.section {
    padding-top: 240px;
    padding-bottom: 240px;
}

.section.small {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section.hero {
    position: relative;
    padding-top: 100px;
    padding-bottom: 150px;
}

.section.hero.v1 {
    padding-top: 93px;
    padding-bottom: 50px;
}

.section.hero.v2 {
    padding-top: 16px;
    padding-bottom: 192px;
}

.section.hero.v3 {
    padding-top: 92px;
    padding-bottom: 200px;
}

.section.pd-top-0 {
    padding-top: 0px;
}

/* .link-wrapper:hover {
    color: var(--primary);
} */

.link-text {
    display: inline-block;
}

.header-nav-link {
    padding: 0px;
    color: var(--neutral-800);
    font-weight: 700;
}

.header-nav-link:hover {
    color: var(--secondary-2);
}

.header-nav-list-item {
    margin-bottom: 0px;
    padding-left: 32px;
}

.header-nav-list-item.middle {
    padding-right: 12px;
    padding-left: 12px;
    line-height: 1.111em;
}

.header-nav-list-item.left {
    padding-right: 16px;
    padding-left: 0px;
}

.btn-circle-secondary {
    display: flex;
    width: 64px;
    height: 64px;
    min-height: 64px;
    min-width: 64px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: var(--neutral-800);
    border-radius: 16px;
    background-color: var(--neutral-100);
    box-shadow: none;
    transition:
        border-color 300ms ease,
        transform 300ms ease,
        background-color 300ms ease,
        color 300ms ease;
    color: var(--neutral-800);
    font-size: 26px;
    text-decoration: none;
    transform-style: preserve-3d;
}

.btn-circle-secondary:hover {
    border-color: var(--primary);
    background-color: var(--primary);
    transform: scale3d(0.94, 0.94, 1.01);
    color: var(--neutral-100);
}

.btn-circle-secondary.small {
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 12px;
    font-size: 22px;
}

.btn-circle-secondary.slider-arrow {
    border-width: 0px;
    background-color: var(--neutral-400);
}

.btn-circle-secondary.slider-arrow:hover {
    background-color: var(--neutral-800);
}

.utility-page-wrap {
    display: flex;
    min-height: 70vh;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.utility-page-wrap.not-found {
    padding-top: 191px;
    padding-bottom: 168px;
}

.utility-page-content {
    display: flex;
    width: 100%;
    max-width: 748px;
    flex-direction: column;
    align-items: flex-start;
}

.flex-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-horizontal.start {
    justify-content: flex-start;
}

.flex-horizontal.flex-wrap {
    flex-wrap: wrap;
}

.flex-horizontal.space-between {
    justify-content: space-between;
}

.flex-horizontal.align-top---justify-left {
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-list-item {
    margin-bottom: 24px;
    padding-left: 0px;
    line-height: 20px;
}

.footer-link {
    display: inline-block;
    transition:
        transform 300ms ease,
        color 300ms ease;
    color: var(--neutral-300);
    font-weight: 400;
    text-decoration: none;
    transform-style: preserve-3d;
}

.footer-link:hover {
    transform: translate3d(8px, 0px, 0.01px);
    color: var(--secondary-2);
}

.success-message {
    padding: 0px;
    background-color: transparent;
    color: var(--neutral-800);
}

.success-message.color-neutral-100 {
    color: var(--neutral-100);
}

.error-message {
    margin-top: 20px;
    padding: 20px 24px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-4);
    border-radius: 16px;
    background-color: #ffeff0;
    color: #ff5a65;
    text-align: center;
}

.error-message.password {
    margin-right: 24px;
    margin-left: 24px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.sticky-top {
    position: sticky;
    top: 0px;
}

.sticky-top._48px-top {
    top: 48px;
}

.overflow-hidden {
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
}

.height-100 {
    height: 100%;
}

.blog-card-image-wrapper {
    overflow: hidden;
    border-radius: 24px;
    transform: translate(0px, 0px);
}

.blog-card-image-wrapper.inside-card {
    position: relative;
    width: 100%;
    border-radius: 24px;
    -o-object-fit: fill;
    object-fit: fill;
}

.blog-categories-item-wrapper {
    display: flex;
    padding: 12px 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 11px;
    transition:
        background-color 300ms ease,
        color 300ms ease;
    color: var(--neutral-800);
    font-size: 24px;
    line-height: 1.417em;
    font-weight: 700;
    text-decoration: none;
}

.blog-categories-item-wrapper:hover {
    background-color: #fdb0b5;
    color: var(--neutral-100);
}

.blog-categories-item-wrapper.current {
    background-color: var(--secondary-4);
    color: var(--neutral-100);
}

.image-wrapper {
    overflow: hidden;
    transform: translate(0px, 0px);
}

.image-wrapper.newsletter-image-wrapper {
    min-height: 190px;
    min-width: 190px;
}

.image-wrapper.rigth-shadow-circle {
    border-style: solid;
    border-width: 3px;
    border-color: var(--neutral-800);
    box-shadow: 6px 6px 0 0 var(--neutral-800);
}

.image-wrapper.rigth-shadow-circle.small {
    background-color: var(--neutral-800);
}

.image-wrapper.rigth-shadow-circle.password-page-icon {
    max-width: 190px;
}

.image-wrapper.border-radius-30px {
    border-radius: 30px;
}

.z-index-1 {
    position: relative;
    z-index: 1;
}

.mg-bottom-12px {
    margin-bottom: 12px;
}

.link {
    color: var(--neutral-100);
    font-weight: 700;
}

.link:hover {
    color: var(--secondary-2);
}

.footer-newsletter {
    margin-bottom: -1px;
    background-image: linear-gradient(0deg, var(--neutral-800), var(--neutral-800) 60%, var(--neutral-100) 0, transparent 0);
}

.footer-newsletter.newsletter-section {
    background-image: linear-gradient(0deg, transparent, transparent 10%, var(--neutral-800) 0, var(--neutral-800) 90%, transparent 0);
}

.newsletter-wrapper {
    display: flex;
    width: 100%;
    min-height: 160px;
    margin-left: -100px;
    padding: 30px 30px 30px 112px;
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--neutral-800);
    border-radius: 24px;
    background-color: var(--neutral-100);
}

.newsletter-wrapper.newsletter-section {
    padding-top: 40px;
    padding-right: 5px;
    padding-bottom: 40px;
    border-width: 0px;
    background-color: transparent;
}

.position-absolute {
    position: absolute;
}

.heading-span-secondary-4 {
    padding-right: 4px;
    padding-left: 4px;
    background-image: linear-gradient(180deg, transparent 6%, var(--secondary-4) 0);
    color: var(--neutral-100);
    /* white-space: nowrap; */
}

.heading-span-secondary-6 {
    padding-right: 4px;
    padding-left: 4px;
    background-image: linear-gradient(180deg, transparent 6%, var(--secondary-6) 0);
    color: var(--neutral-100);
    /* white-space: nowrap; */
}

.heading-span-secondary-2 {
    padding-right: 4px;
    padding-left: 4px;
    background-image: linear-gradient(180deg, transparent 10%, var(--secondary-2) 0);
    color: var(--neutral-100);
    /* white-space: nowrap; */
}

.bullet {
    width: 20px;
    height: 20px;
    min-height: 20px;
    min-width: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--neutral-800);
    border-radius: 6px;
}

.heading-span-secondary-1 {
    padding-right: 4px;
    padding-left: 4px;
    background-image: linear-gradient(180deg, transparent 10%, var(--primary) 0);
}

.heading-span-secondary-3 {
    padding-right: 4px;
    padding-left: 4px;
    background-image: linear-gradient(180deg, transparent 10%, var(--secondary-3) 0);
    color: var(--neutral-100);
}

.heading-span-secondary-3.v2 {
    background-image: linear-gradient(180deg, transparent, var(--secondary-3) 0%);
}

.rigth-shadow-circle {
    border-radius: 50%;
}

.rigth-shadow-circle.small {
    border-style: solid;
    border-width: 2px;
    border-color: var(--neutral-800);
    box-shadow: 2px 2px 0 0 var(--neutral-800);
}

.text-no-wrap {
    white-space: nowrap;
}

.mg-bottom-54px {
    margin-bottom: 54px;
}

.cms-featured-image-wrapper {
    padding: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--neutral-800);
    border-radius: 30px;
    background-color: var(--neutral-100);
    box-shadow: 10px 10px 0 0 var(--neutral-800);
}

@media screen and (min-width: 1440px) {
    .grid-2-columns.form {
        grid-column-gap: 32px;
        grid-row-gap: 32px;
    }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 991px) {
    h1:not([class]) {
        font-size: 48px;
    }

    h2:not([class]) {
        font-size: 30px;
    }

    /* blockquote {
        padding-top: 83px;
        padding-bottom: 83px;
        font-size: 22px;
    } */

    .grid-2-columns._1-col-tablet {
        grid-template-columns: 1fr;
    }

    .grid-2-columns.title-and-paragraph {
        grid-row-gap: 15px;
        grid-template-columns: 1fr;
    }

    .grid-2-columns.title-and-paragraph.v2 {
        grid-template-columns: 1fr;
    }

    .grid-2-columns.text-right-default {
        grid-row-gap: 48px;
        grid-template-columns: 1fr;
    }

    .grid-2-columns.blog-left-sidebar {
        grid-template-columns: 1fr;
    }

    .grid-2-columns.post-rigth-sidebar._1-col-tablet {
        grid-row-gap: 60px;
        grid-template-columns: 1fr;
    }

    .card.form {
        min-height: 690px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .display-1 {
        font-size: 64px;
        line-height: 1.188em;
    }

    .display-1 {
        font-size: 64px;
        line-height: 1.188em;
    }

    .display-2 {
        font-size: 48px;
        line-height: 1.25em;
    }

    .display-3 {
        font-size: 32px;
        line-height: 1.375em;
    }

    .display-4 {
        font-size: 22px;
        line-height: 1.545em;
    }

    .text-300 {
        font-size: 20px;
    }

    .inner-container._600px---tablet {
        max-width: 600px;
    }

    .inner-container._700px---tablet {
        max-width: 700px;
    }

    .inner-container._100---tablet {
        max-width: 100%;
    }

    .inner-container.center---tablet {
        margin-right: auto;
        margin-left: auto;
    }

    .btn-primary {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .btn-secondary {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .section {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .section.small {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .section.hero {
        padding-top: 90px;
        padding-bottom: 118px;
    }

    .section.hero.v1 {
        padding-top: 78px;
        padding-bottom: 123px;
    }

    .section.hero.v2 {
        padding-bottom: 160px;
    }

    .section.hero.v3 {
        padding-top: 77px;
        padding-bottom: 160px;
    }

    .header-nav-list-item {
        margin-bottom: 12px;
        padding-left: 0px;
    }

    .header-nav-list-item.middle {
        margin-bottom: 24px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .utility-page-wrap {
        min-height: 70vh;
        padding-top: 83px;
        padding-bottom: 83px;
    }

    .utility-page-wrap.not-found {
        padding-top: 80px;
        padding-bottom: 140px;
    }

    .utility-page-content {
        align-items: center;
        text-align: center;
    }

    .flex-horizontal.align-top---justify-left.gap-16px.center---tablet {
        flex-direction: column;
        align-items: center;
    }

    .flex-horizontal.center---tablet {
        justify-content: center;
        align-items: center;
    }

    .sticky-top._48px-top.sticky-tbl {
        position: static;
    }

    .blog-categories-item-wrapper {
        display: inline-block;
        font-size: 22px;
    }

    .newsletter-wrapper {
        min-height: 188px;
        padding-left: 135px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        grid-row-gap: 12px;
    }

    .newsletter-wrapper.newsletter-section {
        padding-left: 125px;
    }

    /* .heading-span-secondary-1 {
        white-space: nowrap;
    } */

    .heading-span-secondary-1.v2 {
        background-image: linear-gradient(180deg, var(--primary) 95%, transparent 0);
    }

    .heading-span-secondary-3 {
        white-space: normal;
    }

    .text-center---tablet {
        text-align: center;
    }

    .cms-featured-image-wrapper {
        padding: 24px;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    h1:not([class]) {
        margin-bottom: 10px;
        font-size: 38px;
    }

    h2:not([class]) {
        margin-bottom: 12px;
        font-size: 26px;
    }

    h3:not([class]) {
        font-size: 22px;
    }

    h4:not([class]) {
        font-size: 20px;
    }

    label:not([class]) {
        font-size: 16px;
    }

    /* blockquote {
        padding: 68px 34px;
        border-radius: 18px;
        font-size: 20px;
    } */

    .grid-2-columns {
        grid-template-columns: 1fr;
    }

    .grid-2-columns.form {
        grid-row-gap: 20px;
    }

    .grid-2-columns.title-and-paragraph {
        grid-row-gap: 12px;
    }

    .grid-2-columns.text-right-default.v2 {
        grid-row-gap: 40px;
    }

    .card.form {
        min-height: 811px;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .mg-bottom-24px.keep {
        margin-bottom: 24px;
    }

    .mg-bottom-32px {
        margin-bottom: 26px;
    }

    .mg-bottom-32px.keep {
        margin-bottom: 32px;
    }

    .mg-bottom-48px {
        margin-bottom: 40px;
    }

    .mg-bottom-64px {
        margin-bottom: 53px;
    }

    .display-1 {
        font-size: 40px;
        line-height: 1.3em;
    }

    .display-2 {
        font-size: 32px;
        line-height: 1.375em;
    }

    .display-2.color-neutral-100 {
        line-height: 1.375em;
    }

    .display-3 {
        font-size: 26px;
        line-height: 1.462em;
    }

    .display-4 {
        font-size: 20px;
        line-height: 1.6em;
    }

    .text-300 {
        font-size: 18px;
    }

    .inner-container._400px---mbl {
        max-width: 400px;
    }

    .inner-container._500px---mbl {
        max-width: 500px;
    }

    .inner-container._350px---mbl {
        max-width: 350px;
    }

    .inner-container._600px---mbl {
        max-width: 600px;
    }

    .btn-primary {
        padding: 20px 32px;
        border-radius: 14px;
        font-size: 16px;
    }

    .btn-primary.small {
        padding-top: 16px;
        padding-bottom: 16px;
        border-radius: 10px;
        font-size: 14px;
    }

    .btn-primary.inside-input.default {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .btn-primary.inside-input.variant.small {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .btn-primary.button-row {
        margin-right: 16px;
    }

    .btn-secondary {
        padding: 20px 32px;
        border-radius: 14px;
        font-size: 16px;
    }

    .btn-secondary.small {
        padding-top: 16px;
        padding-bottom: 16px;
        border-radius: 10px;
        font-size: 14px;
    }

    .badge-primary,
    .badge-secondary {
        padding: 16px 24px;
        border-radius: 12px;
        font-size: 16px;
    }

    .badge-primary.small,
    .badge-secondary.small {
        padding: 12px 20px;
        border-radius: 10px;
        font-size: 14px;
    }

    .input {
        min-height: 60px;
        border-radius: 12px;
        font-size: 16px;
    }

    .input.small {
        min-height: 58px;
        border-radius: 10px;
        font-size: 14px;
    }

    .input.icon-input {
        padding-left: 40px;
        background-position: 10px 50%;
    }

    .section {
        padding-top: 168px;
        padding-bottom: 168px;
    }

    .section.small {
        padding-top: 72px;
        padding-bottom: 72px;
    }

    .section.hero {
        padding-top: 48px;
        padding-bottom: 100px;
    }

    .section.hero.v1 {
        padding-top: 60px;
        padding-bottom: 103px;
    }

    .section.hero.v2 {
        padding-top: 60px;
        padding-bottom: 133px;
    }

    .section.hero.v3 {
        padding-top: 60px;
        padding-bottom: 133px;
    }

    .btn-circle-secondary {
        width: 56px;
        height: 56px;
        min-height: 56px;
        min-width: 56px;
        border-radius: 12px;
        font-size: 22px;
    }

    .utility-page-wrap {
        min-height: 60vh;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .utility-page-wrap.not-found {
        padding-top: 60px;
        padding-bottom: 116px;
    }

    .footer-list-item {
        margin-bottom: 20px;
    }

    .error-message.password {
        width: 100%;
        max-width: 600px;
        margin-right: 24px;
        margin-left: 24px;
        align-self: center;
    }

    .blog-categories-item-wrapper {
        padding-right: 15px;
        padding-left: 15px;
        font-size: 18px;
    }

    .image-wrapper.newsletter-image-wrapper {
        margin-bottom: -60px;
    }

    .image-wrapper.newsletter-image-wrapper.newsletter-section {
        position: relative;
        width: 100%;
        max-width: 158px;
        min-height: auto;
        min-width: auto;
        margin-bottom: 0px;
    }

    .image-wrapper.rigth-shadow-circle.password-page-icon {
        max-width: 132px;
    }

    .image-wrapper.border-radius-30px {
        border-radius: 18px;
    }

    .footer-newsletter {
        background-image: linear-gradient(0deg, var(--neutral-800), var(--neutral-800) 50%, var(--neutral-100) 0, transparent 0);
    }

    .footer-newsletter.newsletter-section {
        background-image: linear-gradient(0deg, transparent, var(--neutral-800) 0%, var(--neutral-800) 90%, transparent 0);
    }

    .newsletter-wrapper {
        min-height: 240px;
        margin-left: 0px;
        padding-top: 80px;
        padding-right: 24px;
        padding-left: 24px;
        justify-content: flex-start;
        align-items: center;
    }

    .newsletter-wrapper.newsletter-section {
        min-height: auto;
        padding: 50px 0px 80px;
        justify-content: flex-start;
    }

    .mg-bottom-54px {
        margin-bottom: 45px;
    }

    .cms-featured-image-wrapper {
        padding: 20px;
        border-radius: 18px;
    }
}

@media screen and (max-width: 479px) {
    h1:not([class]) {
        font-size: 32px;
    }

    /* blockquote {
        padding: 58px 24px;
        font-size: 18px;
    } */

    .card.form {
        padding-right: 24px;
        padding-left: 24px;
    }

    .mg-bottom-24px {
        margin-bottom: 16px;
    }

    .mg-bottom-24px.keep {
        margin-bottom: 24px;
    }

    .mg-bottom-32px {
        margin-bottom: 23px;
    }

    .mg-bottom-32px.keep {
        margin-bottom: 32px;
    }

    .mg-bottom-64px {
        margin-bottom: 44px;
    }

    .display-1 {
        font-size: 34px;
        line-height: 1.353em;
    }

    .display-2 {
        font-size: 28px;
        line-height: 1.429em;
    }

    .display-3 {
        font-size: 24px;
        line-height: 1.458em;
    }

    .btn-primary {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .btn-primary.small {
        padding-right: 20px;
        padding-left: 20px;
    }

    .btn-primary.inside-input {
        position: static;
    }

    .btn-primary.inside-input.default {
        padding: 20px;
    }

    .btn-primary.inside-input.variant {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: var(--secondary-2);
    }

    .btn-primary.inside-input.variant.small {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 16px;
    }

    .btn-primary.button-row {
        margin-right: 0px;
        margin-bottom: 16px;
    }

    .btn-secondary {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .btn-secondary.small {
        padding-right: 20px;
        padding-left: 20px;
    }

    .badge-primary.small.btn-primary,
    .badge-secondary.small.btn-primary {
        width: auto;
    }

    .input {
        padding-right: 20px;
        padding-left: 20px;
    }

    .input.button-inside {
        margin-bottom: 16px;
        padding-right: 20px;
    }

    .checkbox-field-wrapper {
        font-size: 16px;
        line-height: 20px;
    }

    .checkbox {
        min-height: 22px;
        min-width: 22px;
    }

    .buttons-row {
        width: 100%;
        flex-direction: column;
    }

    .container-default {
        padding-right: 20px;
        padding-left: 20px;
    }

    .section {
        padding-top: 138px;
        padding-bottom: 138px;
    }

    .section.small {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .section.hero {
        padding-top: 40px;
    }

    .section.hero.v1 {
        padding-top: 50px;
        padding-bottom: 86px;
    }

    .section.hero.v2 {
        padding-top: 50px;
        padding-bottom: 111px;
    }

    .section.hero.v3 {
        padding-top: 50px;
        padding-bottom: 111px;
    }

    .header-nav-list-item {
        width: 100%;
        text-align: left;
    }

    .utility-page-wrap {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .utility-page-wrap.not-found {
        padding-top: 50px;
    }

    .error-message.password {
        width: auto;
        max-width: 100%;
        margin-right: 20px;
        margin-left: 20px;
        align-self: auto;
    }

    .blog-card-image-wrapper.inside-card {
        border-radius: 18px;
    }

    .blog-categories-item-wrapper {
        display: block;
        width: 100%;
    }

    .image-wrapper.newsletter-image-wrapper {
        width: 150px;
        height: 150px;
        min-height: 150px;
        min-width: 150px;
    }

    .image-wrapper.newsletter-image-wrapper.position-relative {
        margin-bottom: -70px;
    }

    .image-wrapper.newsletter-image-wrapper.newsletter-section {
        max-width: 132px;
    }

    .image-wrapper.rigth-shadow-circle.password-page-icon {
        max-width: 120px;
    }

    .image-wrapper.border-radius-30px {
        border-radius: 14px;
    }

    .mg-bottom-12px {
        margin-bottom: 10px;
    }

    .newsletter-wrapper {
        min-height: 310px;
    }

    .newsletter-wrapper.newsletter-section {
        padding-top: 40px;
        padding-bottom: 70px;
        justify-content: flex-start;
    }

    .heading-span-secondary-4 {
        white-space: normal;
    }

    .heading-span-secondary-6 {
        white-space: normal;
    }

    .heading-span-secondary-1 {
        white-space: normal;
    }

    .heading-span-secondary-3 {
        white-space: normal;
    }

    .mg-bottom-54px {
        margin-bottom: 40px;
    }

    .cms-featured-image-wrapper {
        padding: 12px;
        border-radius: 14px;
    }
}

#w-node-d245282e-bd6f-ff12-2569-ce176b30a962-33543d3f {
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
}

#w-node-_43cc762b-abd3-c8a6-16ac-a7037f01a843-33543d3f {
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
}

#w-node-_34c59c1f-4be7-ed9c-ff5c-c122f878dc41-c2543d52 {
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
}

#w-node-_5c5dc0c4-b5e3-5f62-6d6f-8e34246cf7f8-c2543d52 {
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    align-self: end;
    justify-self: start;
}

#w-node-dc0e7998-b9b3-c083-f58f-6cb9b7068f8e-c2543d52 {
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    justify-self: center;
    align-self: end;
}

#w-node-_9590e10b-34c1-a027-5169-2a6f2e246de6-c2543d52 {
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    align-self: start;
    justify-self: end;
}

#w-node-c2929208-8d91-98cc-9b09-092b6fe57133-c2543d52 {
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    align-self: start;
}

#w-node-_8fce2975-a4c1-d75d-4e92-2f3e3dce47b0-c2543d52 {
    justify-self: end;
    align-self: start;
}

#w-node-_686f4507-61d8-cbed-f166-5192bfa063e2-c2543d52 {
    justify-self: start;
}

#w-node-_2efa5bda-72aa-9528-9385-590a86804244-6f543d60 {
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    align-self: start;
    justify-self: end;
}

@media screen and (max-width: 991px) {
    #w-node-ffe9a45f-94fb-9c90-1679-9bd8e1c7012d-33543d3f {
        grid-column-start: span 1;
        -ms-grid-column-span: 1;
        grid-column-end: span 1;
        grid-row-start: span 1;
        -ms-grid-row-span: 1;
        grid-row-end: span 1;
    }

    #w-node-_8fce2975-a4c1-d75d-4e92-2f3e3dce47b0-c2543d52 {
        justify-self: auto;
    }

    #w-node-_2efa5bda-72aa-9528-9385-590a86804244-6f543d60 {
        justify-self: auto;
    }

    #w-node-d6ab327c-c12b-e1a4-6a28-7aaa783883be-b9543dac {
        justify-self: center;
    }
}

@media screen and (max-width: 767px) {
    #w-node-_5c5dc0c4-b5e3-5f62-6d6f-8e34246cf7f8-c2543d52 {
        align-self: auto;
        justify-self: end;
    }

    #w-node-dc0e7998-b9b3-c083-f58f-6cb9b7068f8e-c2543d52 {
        grid-column-start: span 2;
        -ms-grid-column-span: 2;
        grid-column-end: span 2;
        order: -9999;
    }

    #w-node-_9590e10b-34c1-a027-5169-2a6f2e246de6-c2543d52 {
        justify-self: start;
    }
}

@media screen and (max-width: 479px) {
    #w-node-dc0e7998-b9b3-c083-f58f-6cb9b7068f8e-c2543d52 {
        justify-self: stretch;
    }
}
