html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--neutral-200);
}

/* TYPOGRAPHY */

.bl {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.583em;
}
.bs {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714em;
}

@media screen and (max-width: 991px) {
    .bl {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .bl {
        font-size: 18px;
    }
}

/* CONTAINER */

.shadow-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 220px;
    padding: 32px 44px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: var(--neutral-800);
    border-radius: 24px;
    background-color: var(--neutral-100);
    text-align: center;
}

.image-wrapper-card-top {
    overflow: hidden;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

section {
    padding-top: 240px;
    padding-bottom: 240px;
}

.container {
    max-width: 1300px;
    padding-right: 24px;
    padding-left: 24px;
    margin-left: auto;
    margin-right: auto;
}

.shadow-1 {
    box-shadow: 7px 7px 0 0 var(--neutral-800);
}
.left-shadow-1 {
    box-shadow: -7px 7px 0 0 var(--neutral-800);
}
.shadow-2 {
    box-shadow: 11px 11px 0 0 var(--neutral-800);
}
.left-shadow-2 {
    box-shadow: -11px 11px 0 0 var(--neutral-800);
}
.shadow-3 {
    box-shadow: 14px 14px 0 0 var(--neutral-800);
}
.shadow-4 {
    box-shadow: 18px 18px 0 0 var(--neutral-800);
}
.shadow-5 {
    box-shadow: 21px 21px 0 0 var(--neutral-800);
}
.shadow-6 {
    box-shadow: 25px 25px 0 0 var(--neutral-800);
}

.badge-secondaire {
    display: inline-block;
    padding: 18px 28px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--neutral-800);
    border-radius: 14px;
    background-color: var(--neutral-100);
    color: var(--neutral-800);
    font-size: 18px;
    line-height: 1.111em;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    section {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

@media screen and (max-width: 767px) {
    section {
        padding-top: 168px;
        padding-bottom: 168px;
    }
    .badge-secondaire {
        padding: 16px 24px;
        border-radius: 12px;
        font-size: 16px;
    }
}

@media screen and (max-width: 479px) {
    section {
        padding-top: 138px;
        padding-bottom: 138px;
    }
}

/* Buttons */

button {
    display: inline-block;
    padding: 9px 15px;
    background-color: var(--secondary-2);
    color: var(--neutral-100);
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.btn-primary.reverse {
    background-color: var(--neutral-100);
    color: var(--neutral-800);
}

.btn-secondary.reverse {
    border-color: var(--neutral-100);
    background-color: transparent;
    color: var(--neutral-100);
}

.btn-secondary.reverse:hover {
    border-color: var(--neutral-100);
    background-color: var(--neutral-100);
    color: var(--neutral-800);
}

/* NavBar */
.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 14px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: var(--neutral-800);
    border-radius: 18px;
    background-color: var(--neutral-100);
}

.nav-logo {
    font-size: 52px;
}

.nav-width {
    max-width: 778px;
}

.padding-courses {
    padding-top: 150px;
}

.max-w-500 {
    max-width: 500px;
}

.nav-collapse-top {
    top: 144px;
}

.image-comment {
    height: 400px;
}
.card-contact-sm {
    display: none !important;
}

@media screen and (max-width: 991px) {
    .nav-logo {
        font-size: 46.8px;
    }
    .nav-width {
        max-width: 600px;
    }
    .padding-courses {
        padding-top: 118px;
    }
    .nav-collapse-top {
        top: 132px;
    }
    .image-comment {
        height: 300px;
    }
    .card-contact-lg {
        display: none !important;
    }
    .card-contact-sm {
        display: flex !important;
    }
}

@media screen and (max-width: 767px) {
    .nav-logo {
        font-size: 44.72px;
    }
    .padding-courses {
        padding-top: 100px;
    }
    .nav-collapse-top {
        top: 118.8px;
    }
    .image-comment {
        height: 200px;
    }
}

@media screen and (max-width: 479px) {
    .padding-courses {
        padding-top: 80px;
    }
    .nav-collapse-top {
        top: 108.72px;
    }
}

.nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: var(--neutral-700);
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.header-nav-link.current {
    color: var(--neutral-800);
}

.hamburger-menu-bar {
    width: 52px;
    height: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 20px;
    background-color: var(--neutral-800);
}

.hamburger-menu-wrapper {
    padding: 0px;
}

.burgerCollapse {
    display: none;
}

@media screen and (max-width: 991px) {
    .hamburger-menu-bar {
        width: 44px;
        height: 3px;
    }
    .onNav {
        display: none;
    }
    .burgerCollapse {
        display: flex;
    }
}

/* Collapse */

.collapse-parent {
    height: 0px;
    overflow: hidden;
    transition: height ease 0.2s;
}

/* Carousel */

.carousel-fadeOut {
    opacity: 0;
    width: 0;
    height: 0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.carousel-fadeIn {
    opacity: 1;
    width: 100px;
    height: 100px;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.footer-top.border-bottom {
    padding-top: 50px;
    padding-bottom: 35px;
    border-bottom: 1px solid var(--neutral-700);
}

/* Loader */

.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

/* TABLEAU */
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: var(--neutral-100);
}

#customers tr:hover {
    background-color: var(--neutral-300);
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: var(--neutral-800);
}

/* Marquee */
.marquee {
    position: relative;
    width: 110vw;
    max-width: 110vw;
    height: 155px;
    overflow-x: hidden;
}

.track {
    position: absolute;
    white-space: nowrap;
    right: -110vw;
}

.trackInitial {
    position: absolute;
    white-space: nowrap;
    left: 0;
}

.track > div {
    width: 110vw;
}
.trackInitial > div {
    width: 110vw;
}

/* purgecss start ignore */
.yt-lite {
    background-color: #000;
    position: relative;
    display: block;
    /* contain: content; */
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    border-radius: 30px;
}

#hero-video > .yt-lite {
    border-radius: 0px;
}

@media screen and (max-width: 767px) {
    .yt-lite {
        border-radius: 18px;
    }
}

@media screen and (max-width: 479px) {
    .yt-lite {
        border-radius: 14px;
    }
}

/* gradient */
.yt-lite::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
    background-position: top;
    background-repeat: repeat-x;
    height: 60px;
    padding-bottom: 50px;
    width: 100%;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
.yt-lite::after {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
}
.yt-lite > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* play button */
.yt-lite > .lty-playbtn {
    width: 70px;
    height: 46px;
    background-color: #212121;
    z-index: 1;
    opacity: 0.8;
    border-radius: 14%; /* TODO: Consider replacing this with YT's actual svg. Eh. */
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
    background-color: #f00;
    opacity: 1;
}
/* play button triangle */
.yt-lite > .lty-playbtn:before {
    content: "";
    border-style: solid;
    border-width: 11px 0 11px 19px;
    border-color: transparent transparent transparent #fff;
}

.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

/* Post-click styles */
.yt-lite.lyt-activated {
    cursor: unset;
}
.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated > .lty-playbtn {
    opacity: 0;
    pointer-events: none;
}
/* purgecss end ignore */

.flashcards {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center center;
    background: #4da6ff;
}

.flashcards__container {
    max-width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    perspective: 800px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.flashcards__container::-webkit-scrollbar {
    display: none;
}

.flashcards .cardFlash {
    position: relative;
    display: inline-block;
    height: 33vw;
    min-height: 200px;
    max-height: 250px;
    width: 33vw;
    max-width: 250px;
    min-width: 200px;
    background: var(--neutral-100);
    margin: 2rem 1rem;
    border-radius: 15px;
    cursor: pointer;
    white-space: wrap;
}

.flashcards .cardFlash:first-of-type {
    margin-left: 6rem;
}

.flashcards .cardFlash:last-of-type {
    margin-right: 6rem;
}

.rotateText {
    transform: rotateY(180deg);
}

.cardFlash {
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.cardFlash.flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    backface-visibility: hidden;
    word-wrap: break-word;
}

.card__face--back {
    transform: rotateY(180deg);
}

.simple-border {
    border-style: solid;
    border-width: 2px;
    border-color: var(--neutral-800);
    border-radius: 14px;
}

.only-radius {
    border-radius: 14px;
}

@media screen and (max-width: 767px) {
    .simple-border {
        border-radius: 12px;
    }
    .only-radius {
        border-radius: 12px;
    }
}

/* Pour WhyStories */

.grid-2-columns.blog-left-sidebar.gap-column-64px {
    grid-column-gap: 64px;
    -ms-grid-columns: 0.8fr 1fr;
    grid-template-columns: 0.8fr 1fr;
}

#w-node-_20d05100-4494-e1df-c799-844a90f09c7c-b9543dac {
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column-align: end;
    justify-self: end;
}

.gap-40px {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.card.resume-card-v1 {
    overflow: hidden;
    max-width: 625px;
    background-color: var(--neutral-100);
    box-shadow: none;
}

.card.resume-card-v1:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.top-content-resume-card {
    padding: 20px 35px;
    background-color: var(--neutral-300);
}

.reverse-wrap {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.grid-2-columns.blog-left-sidebar.gap-column-64px {
    grid-column-gap: 64px;
    -ms-grid-columns: 0.8fr 1fr;
    grid-template-columns: 0.8fr 1fr;
}

.gap-column-64px {
    grid-column-gap: 64px;
}

#w-node-eb9abc4f-1a64-dc91-46de-47243848b65b-b9543dac {
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
}

.flex-horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.resume-card-divider {
    width: 100%;
    height: 3px;
    background-color: var(--neutral-800);
}

.resume-card-period {
    color: var(--neutral-800);
    font-size: 24px;
    line-height: 1.083em;
    font-weight: 700;
}

.bottom-content-resume-card {
    padding: 30px 35px 45px;
}

.flex-horizontal.space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 991px) {
    .card.resume-card-v1 {
        max-width: 100%;
    }
    .grid-2-columns.blog-left-sidebar.gap-column-64px {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .resume-card-period {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .resume-card-period {
        font-size: 18px;
    }
}

@media screen and (max-width: 479px) {
    .top-content-resume-card {
        padding-right: 24px;
        padding-left: 24px;
    }
    .bottom-content-resume-card {
        padding-right: 24px;
        padding-left: 24px;
    }
    .flex-horizontal.space-between.reverse-wrap {
        -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }
}

.footer-link.current {
    color: var(--neutral-100);
    display: inline;
}

.contact-item-wrapper:hover {
    background-color: #d8eeff;
}

.contact-item-wrapper.current {
    background-color: var(--secondary-2);
    color: var(--neutral-100);
}

.success-register-message {
    margin-top: 20px;
    padding: 20px 24px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-5);
    border-radius: 16px;
    background-color: #effff9;
    color: var(--secondary-5);
    text-align: center;
}

.success-register-message.password {
    margin-right: 24px;
    margin-left: 24px;
}

.info-register-message {
    margin-top: 20px;
    padding: 20px 24px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-2);
    border-radius: 16px;
    background-color: #d8eeff;
    color: var(--secondary-2);
    text-align: center;
}

.info-register-message.password {
    margin-right: 24px;
    margin-left: 24px;
}

/* DropdownMenu */
.menu-item {
    perspective: 2000px;
}

.sub-menu {
    position: absolute;
    top: 30px;
    padding: 15px;
    background-color: #ccc;
    border-radius: 6px;
    z-index: 1000;
    transform-origin: 50% -30px;
}

.sub-menu-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.sub-menu-item {
    margin-bottom: 5px;
}

.icon:hover {
    color: blue;
}

/* ROUNDBUTTON */
.roundButton {
    background-color: var(--neutral-600);
    color: var(--neutral-100);
    font-weight: bold;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
    padding: 4px;
}

.roundButton.small {
    width: 3rem;
    height: 3rem;
    background-color: var(--neutral-400);
    color: var(--neutral-800);
}

.roundButton.small:hover {
    background-color: var(--neutral-500);
    transform: translateY(-2px);
}

.roundButton:hover {
    background-color: var(--neutral-800);
    transform: translateY(-4px);
}

@media screen and (max-width: 992px) {
    .roundButton {
        width: 3.5rem;
        height: 3.5rem;
    }
    .roundButton.small {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .roundButton {
        width: 3.25rem;
        height: 3.25rem;
    }
    .roundButton.small {
        width: 2rem;
        height: 2rem;
    }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./node_modules/react-circular-progressbar/dist/styles.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */

.CircularProgressbar {
    /*
     * This fixes an issue where the CircularProgressbar svg has
     * 0 width inside a "display: flex" container, and thus not visible.
     */
    width: 100%;
    /*
     * This fixes a centering issue with CircularProgressbarWithChildren:
     * https://github.com/kevinsqi/react-circular-progressbar/issues/94
     */
    vertical-align: middle;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #3e98c7;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
    /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
    stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #3e98c7;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
    fill: #d6d6d6;
}

/*
   * Sample background styles. Use these with e.g.:
   *
   *   <CircularProgressbar
   *     className="CircularProgressbar-inverted"
   *     background
   *     percentage={50}
   *   />
   */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
    fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
}

.select-container {
    position: relative;
}

.select-selected {
    border: 2px solid var(--neutral-800);
    padding: 10px;
    cursor: pointer;
}

.select-options {
    margin-top: 8px;
    position: absolute;
    width: 100%;
    border: 2px solid var(--neutral-800);
    z-index: 1000;
}

.select-option {
    cursor: pointer;
    background-color: var(--neutral-100);
}

.select-option:hover {
    background-color: var(--neutral-200);
}

/* Pour la barre de scroll quand il y a trop de bouton de choix */

.keep-scroll {
    overflow: auto; /* ou overflow-y: auto; si vous voulez le scrolling vertical uniquement */
}

.keep-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.keep-scroll::-webkit-scrollbar:vertical {
    width: 12px;
}

.keep-scroll::-webkit-scrollbar:horizontal {
    height: 12px;
}

.keep-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.keep-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

.tab-underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--neutral-800);
}

.tab-lang {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    position: relative;
    background: var(--neutral-200);
    cursor: pointer;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-width: 0;
    position: relative;
    user-select: none;
}
